[Unit]
Description=Custom Workflow Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
    --volume /home/exouser/workflow:/workflow:rw \
    -p 8888:8888 \
    exosphere-workflow:latest \
    jupyter notebook --ip 0.0.0.0 --notebook-dir /workflow
ExecStartPost=echo 'Going to sleep and then get token...'
ExecStartPost=sleep 10
ExecStartPost=/bin/bash -c "/opt/custom_workflow_json.sh {{ console_file }}"

[Install]
WantedBy=multi-user.target
