[Unit]
Description=TigerVNC Server
After=syslog.target network.target

[Service]
Type=simple
User={{ vnc_server_user }}
PAMName=login
PIDFile=/home/%u/.vnc/%H%i.pid
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :%i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver :%i -interface 172.17.0.1 -localhost no -rfbauth /home/{{ vnc_server_user }}/.vnc/passwd -MaxCutText 99999999
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
