ACTION=="add", KERNEL=="[sv]d[b-z]", ENV{SYSTEMD_WANTS}+="automount-volume@%k.service", RUN+="/usr/bin/systemctl enable automount-volume@%k.service"
ACTION=="remove", KERNEL=="[sv]d[b-z]", RUN+="/usr/bin/systemctl disable --now automount-volume@%k.service"
