ACTION=="add", KERNEL=="[sv]d[b-z]", RUN+="/usr/bin/systemctl start automount-volume@%k.service"
ACTION=="remove", KERNEL=="[sv]d[b-z]", RUN+="/usr/bin/systemctl stop automount-volume@%k.service"
