[Unit]
Description=Exosphere - Automount volume %i

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/automount-volume.py mount /dev/%i
ExecStop=/usr/bin/automount-volume.py unmount /dev/%i
